<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于在发送页显示最近图片并选择需要传输的图片。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于发现同一局域网内可接收文件的 Piko 设备。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_piko-share._tcp</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
